/* Reset ---------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fonts ------------- */

@font-face {
	font-family: 'Cyberfont';
	src: url('fonts/Cyberpunk.eot');
	src: local('☺'), url('fonts/Cyberpunk.woff') format('woff'), url('fonts/Cyberpunk.ttf') format('truetype'), url('fonts/Cyberpunk.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General use *-----------------------*/
html {
    scroll-behavior: smooth;
}

body{
    color: white;
    background-color: #1d1b2c;
    --namecolor : #E40EE4;
    --cyberyellow : #FFEF00;
    --sectionbackground : #2c2a49;
    --blueneon : #00F1FF;
    --stock-colors :  #707070 #0E0E0E #2D1F54;
    overflow-x:hidden;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    max-width: 1140px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

@mixin titlefont($size) {
    font-family: 'Aldrich', sans-serif;
    font-size: $size;
}

@mixin maintext ($size){
    font-family:'Electrolize', sans-serif;
    font-size: $size;
}

/* Header ------------------------- */

header{

    .navbar{
        display: flex;
        @include titlefont(50px);
        overflow: hidden;
        position: fixed;
        padding: 8px;
        top: 0;
        z-index: 1111;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        background: rgb(45,29,81);
        background: linear-gradient(90deg, rgba(45,29,81,1) 0%, rgba(67,69,130,1) 12%, rgba(67,52,107,1) 100%);
        
        .logo{
            font-size: 50px;
        }

        .navbar-end{
            display: flex;
            align-items: center;
            position: absolute;
            right: 45px;
        }

        nav{
            ul{
                display: flex;

                li{
                    @include titlefont(30px);
                    display: flex;
                    margin: 15px;
                }            
            }
        }

        .language{
            display: flex;
            p{
                margin-top: 10px;
                margin-right: 15px;
            }
            a{
                max-height: 45px;
                box-sizing: border-box;
            }
        }


    }

    #home{
        width: 100vw;
        height: 1719px;
        background-image: url(medias/citynight-wide.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        h1,h2{
            font-family: 'Cyberfont';
        }

        h1{
            font-size: 230px;
            padding-top: 450px;
            text-align: center;
            color: var(--namecolor);
            margin-bottom: 550px;
           // animation: flicker 2s infinite alternate;

        }
        
        h2{
            font-size: 100px;
            text-align: center;
            color: var(--cyberyellow);
           
        }

        .mirror{
            position: absolute;
            width: 100%;
            box-sizing: border-box;
            
        } 

        .mirror::after{
            margin-top: 1rem;
            content:attr(data-text);
            display:block;
            transform:rotateX(180deg);
            background-image: linear-gradient(180deg,rgba(255, 238, 0, 0.3) 10%,rgba(255, 238, 0, 0.3));
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem var(--namecolor),
            0.2rem 0.2rem 1rem blue,
            0 0 2rem var(--namecolor),
            0 0 4rem var(--namecolor),
            0 0 6rem var(--namecolor),
            0 0 8rem var(--namecolor),
            0 0 10rem var(--namecolor);
        
       
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}



/* MY SKILLS ---------------------------------------------------------------- */


.skills{
    background-color: var(--sectionbackground);
    h2{
        @include titlefont(100px);
        padding-top: 100px;
        margin-bottom: 100px;
    }

    .front, .back, .personal{
        display: flex;
        justify-content: space-between;
        margin-bottom: 75px;
        position: relative;
        @include maintext(50px);
    }
    .toggle-1, .toggle-2, .toggle-3{
       display: flex;
       align-items: center;
       cursor: pointer;
       span{
           margin-left: 20px;
       }
    }

    .personal{
        padding-bottom: 100px;
        margin: 0;
    }
    .logo-front, .logo-back, .logo-personal{
        display: flex;
        background-color: var(--cyberyellow);
        color: black;
        max-height: 135px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        position: absolute;
        margin-right: -1750px;
        transition: ease-in-out .8s;
        right: 0;
        z-index: 1 ;
        
        p{
            margin: 0 10px;
        }
    }
    .js{
        box-sizing: border-box;
        border: 0.5px black solid;
    }

    .logo-open{
        margin-right:-390px;
        transition: ease-in-out .8s;
    }


    

}


/* Work --------------------------------------------------------------------- */

.work{
    h2{
        animation:glitch2 2s steps(100) infinite;
        padding-top: 100px;
        margin-bottom: 100px;
    }
    .glitch{
        position: relative;
        @include titlefont(100px);
    }


}



$r: rgba(255,0,0,1); $g: rgba(0,255,0,1); $b: rgba(0,0,255,1); $px: 0; $px2:0;

@mixin mini-glitch($c1, $c2, $coeff, $start, $end){
    $interval: $end - $start;
    @for $i from $start through $end {
      #{$i * 1%} {   
        @if $i < $start + ($interval/2){
          $px : $px + $coeff;$px2: -$px;   
          text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
        }
        @else{
          $px : $px - 1;$px2: -$px;  
          text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
        } 
      }
    }
    $px: 0;$px2: 0;
}

@mixin big-glitch($c1, $c2, $distance, $start, $end){
    @for $i from $start through $end {   
      #{$i * 1%} {
        @if $i == $end {
            text-shadow: 0 0 0 $c1, 0 0 0 $c2;
        }
        @else{   
            $px : $distance;$px2: -$px;
            text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
        }
      }
    }
    $px: 0;$px2: 0;
}

@keyframes glitch2 {
      
    @include mini-glitch($r, $b, 1, 0, 10);
    @include mini-glitch($r, $g, 0.5, 11, 20);  
    @include mini-glitch($b, $g, 0.7, 21, 40);
    
    @include big-glitch($b, $g, 50, 41, 42);
    
    @include mini-glitch($r, $g, 0.5, 43, 50); 
    @include mini-glitch($r, $b, 1, 51, 60);
    
    @include big-glitch($r, $g, 30, 61, 62); 
    
    @include mini-glitch($r, $b, 0.5, 63, 70);
    
    @include big-glitch($r, $b, 70, 71, 72);
    
    @include mini-glitch($r, $b, 1, 73, 80);
    @include mini-glitch($r, $g, 0.5, 81, 90);
  
    @include big-glitch($g, $b, 60, 91, 92);
    
    @include mini-glitch($b, $g, 0.7, 92, 100);
}

.work{

    .work-container{
        max-width: 1650px;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }
    
    .work-1, .work-2, .work-3{
        display: flex;
        margin-bottom: 150px;
        align-items: center;
    }

    .work-text{
        @include maintext(25px);
        line-height: 50px;
        vertical-align: middle;
        margin-left: 100px;
        min-width: 950px;
        max-width: 950px;
    }


    strong{
        @include maintext(30px);
        font-weight: 700;
        color: var(--cyberyellow);
    }

    .btn-seemore{
        margin-top: 20px;
        text-align: center;
    }

    .seemore{
        display: inline-block;
        text-align: center;
        width: 230px;
        height: 60px; 
        border: 0;
        outline: none;
        background-color: black;
        color: black;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    }
    
    .seemore-content{
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background-color: var(--cyberyellow);
        clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
      
    }

    .img-1{
        background: url(medias/dashboard-glitch.gif) no-repeat;
        display: inline-block;
        background-size: contain;
        width: 500px;
        height: 281px;
        transition: linear 1s ;
    }

    .work-1:hover .img-1{
        background: url(medias/dashboard.PNG) no-repeat;
        background-size: contain;
        -moz-transition: ease-in-out .6s;
        -webkit-transition: ease-in .6s;
        -o-transition: ease-in-out .6s;
        -ms-transition: ease-in-out .6s;
        transition: ease-in-out .6s;
    }

    .img-2{
        background: url(medias/coxymarket-glitch.gif) no-repeat;
        display: inline-block;
        background-size: contain;
        width: 500px;
        height: 281px;
        -moz-transition: ease-in-out .6s;
        -webkit-transition: ease-in .6s;
        -o-transition: ease-in-out .6s;
        -ms-transition: ease-in-out .6s;
        transition: ease-in-out .6s;
    }

    .work-2:hover .img-2{
        background: url(medias/coxymarket.JPG) no-repeat;
        background-size: contain;
        -moz-transition: ease-in-out .6s;
        -webkit-transition: ease-in .6s;
        -o-transition: ease-in-out .6s;
        -ms-transition: ease-in-out .6s;
        transition: ease-in-out .6s;
    }

    .img-3{
        background: url(medias/placeholder2-glitch.gif) no-repeat;
        display: inline-block;
        background-size: contain;
        width: 500px;
        height: 281px;
        -moz-transition: ease-in-out .6s;
        -webkit-transition: ease-in .6s;
        -o-transition: ease-in-out .6s;
        -ms-transition: ease-in-out .6s;
        transition: ease-in-out .6s;
    }

    .work-3:hover .img-3{
        background: url(medias/placeholder2.PNG) no-repeat;
        background-size: contain;
        -moz-transition: ease-in-out .6s;
        -webkit-transition: ease-in .6s;
        -o-transition: ease-in-out .6s;
        -ms-transition: ease-in-out .6s;
        transition: ease-in-out .6s;
    }


}


/* ABOUT ME ---------------------------------------------------------------- */

.aboutme{
    background-color: var(--sectionbackground);
    h2{
        @include titlefont(100px);
        padding-top: 100px;
        margin-bottom: 100px;
    }
    p{
        @include maintext(30px);
        line-height: 40px;
    }
    footer{
        text-align: end;
        margin-top: 50px;
        padding-bottom: 150px;
        span{
            font-size: 1rem;
        }
        img{
            width: 60px;
        }
    }
}


/* CONTACT -------------------------------------------------------------------*/

.contact{
    h2{
        @include titlefont(100px);
        padding-top: 100px;
        margin-bottom: 150px;
        position: relative;
        letter-spacing: 0.02em;
        text-shadow: 0 0 0.15em #1da9cc;
        user-select: none;
        white-space: nowrap;
        filter: blur(0.007em);
        animation: shake 2.5s linear forwards;

        span{
            position: absolute;
            top: 100px;
            left: 230px;
            transform: translate(-50%, -50%);
            -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
        }
    }

    h2::before, h2::after{
        content: attr(data-break);
        position: absolute;
        top: 100px;
        left: 230px;
    }

    h2::before {
        animation: crack1 2.5s linear forwards;
        -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
                clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
    }
    
    h2::after {
        animation: crack2 2.5s linear forwards;
        -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
                clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
    }

    .form{
        width: 100%;
        max-width: 65%;
        margin: 0 auto;
        label{
            @include maintext(30px);
            color: var(--blueneon);
            line-height: 38px;
        }
    
        .name, .email, .subject, .message{
            display: flex;
            flex-direction: column;
        }
    
        .form-top{
            display: flex;
            justify-content: space-between;
        }

        input{
            border: var(--blueneon) 1px solid;
            background-color: rgba(0, 242, 255, 10%);
            height: 30px;
            @include maintext(20px);
            color: white;
        }

        input:focus{
           outline: none;
        }
        textarea{
            border: var(--blueneon) 1px solid;
            background-color: rgba(0, 242, 255, 10%);
            @include maintext(20px);
            color: white;
            resize: none;
        }

        textarea:focus{
            outline: none;
        }

        .email input{
            margin-left: 5px;
            width: 490px;
        }

        .form-top, .subject{
            margin-bottom: 30px;
        }

        .send{
            margin-top: 50px;
            text-align: end;
        }

        .btn-send{
            display: inline-block;
            text-align: center;
            width: 300px;
            height: 75px; 
            border: 0;
            outline: none;
            background-color: black;
            color: black;
            position: relative;
            text-transform: uppercase;
            clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
        }

        .btn__content {
            cursor: pointer;
            @include maintext(30px);
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            background-color: var(--cyberyellow);
            clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
        }

        .btn__label {
            @include maintext(.75rem);
            color: black;
            font-weight: 700;
            position: absolute;
            bottom: -1px;
            right: 8%;
            padding: 0 5px;
            background-color: var(--cyberyellow);
            z-index: 3;
            border-left: 1px solid var(--blueneon);
        }

        .btn__glitch {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:var(--cyberyellow);
            filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
        }
    }

}
.btn-send:hover .btn__glitch,
.btn-send:hover .btn__content::after,
.btn-send:focus .btn__glitch,
.btn-send:focus .btn__content::after {
  display: block;
  animation: glitch-anim 2s linear 0s infinite;
}

@keyframes glitch-anim{
  0% {
    opacity: 1;
    transform: translateZ(0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  6% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(5px);
  }

  8% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  9% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(0);
  }

  10% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translate3d(5px, 0, 0);
  }

  13% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translateZ(0);
  }

  14% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  15% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  20% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  21% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  25% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  30% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  31% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  35% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  40% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(5px);
  }

  45% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  50% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(0);
  }

  55% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  60% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translateZ(0);
    opacity: 1;
  }

  61% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}


/* FOOTER -------------------------------------------------------------------*/

.footer{
    margin-top: 150px;
    position: relative;
    .bg-vid{
        min-width: 100vw;
        z-index: 1;
    }
    .direct{
        padding-top: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        position: absolute;
        top: 150px;
        left: 300px;
        .directcontact{
            h3{
                @include titlefont(65px);
                margin-bottom: 75px;
            }
            p{
                @include maintext(35px);
                line-height: 45px;
                strong{
                    font-weight: 700;
                }
            }
        }
        .separator{
            border-left: 3px solid var(--blueneon);
            height: 400px;
            animation: neon 1.5s infinite alternate;
        }
        .socials{
            display: flex;
            flex-direction: column;

            div{
                display: flex;
            }
            p{
                width: 150px;
                height: 150px;
                border-radius: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 30px;
                transition: all .6s ease;          
                img{
                    width: 100px;              
                }
            }
            p:hover{
                border-radius: 50%;
                -moz-transform: rotate(720deg); 
                -webkit-transform: rotate(720deg); 
                -o-transform: rotate(720deg); 
                -ms-transform: rotate(720deg); 
                transform: rotate(720deg);
            }

            .tel{
                background-color: #0C23A1;
            }
            .mail{
                background-color: #B23121;
            }

            .github{
                background-color: #0E0E0E;
            }

            .linkedin{
                background-color: #0E76A8;
            }


        }


    }
    .legals{
        text-align: center;
        @include maintext(20px);
        span{
            color: var(--namecolor);
            font-weight: 700;
        }
    }
}

@keyframes neon {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        box-shadow:
            0 0 .9rem #fff,
            inset 0 0 .9rem #fff,
            0 0 2rem var(--blueneon),
            inset 0 0 2rem var(--blueneon),
            0 0 4rem var(--blueneon),
            inset 0 0 4rem var(--blueneon);        
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
}


/* RESPONSIVE ----------------------------------------------------------------------------------------------------------- */

/* Ultra wide */

@media only screen and (min-width:2500px){

    .logo-front, .logo-back, .logo-personal{
        margin-right: -1750px;
        transition: ease-in-out .8s;
    }

    
    .logo-open{
        margin-right:-705px;
        transition: ease-in-out .8s;
    }



}


/* Responsive ------------------------------------------------------------------------------------------------------*/

/* 1200 --- */

@media only screen and (min-width:992px) and (max-width: 1199.98px){
    header{
        .navbar{
            @include titlefont(25px);
            padding-top: 12px;
            padding-bottom: 12px;
            .logo{
                font-size: 25px;
            }
            .navbar-end{
                right: 10px;
            }
            nav{
                ul{                
                    li{
                        @include titlefont(25px);
                        margin: 10px;
                    }
                }
            }

        }

        #home{
            width: 100%;
            height: 1000px;
            h1{
                font-size: 125px;
                padding-top: 250px;
                margin-bottom: 300px;
            }
            h2{
                font-size: 75px;
            }
        }
    }


    .skills{
        .logo-open{
            margin-right: 0px;
        }
        .front, .back, .personal{
            margin-left: 25px;
        }
    }

    .work{
        .work-container{
            max-width: 992px;
            width: 100%;
            margin: 0 auto;
        }
        .work-text{
            max-width: 850px;
            margin: 0 auto;
            padding-top: 100px;
        }
        .work-1, .work-2, .work-3{
            flex-wrap: wrap;
        }
        .img-1, .img-2, .img-3{
            margin: 0 auto;
            width: 850px;
            height: 477px;
        }
    }

    .aboutme{
        p{
            padding: 0 25px;
        }
    }

    .contact{
        .form{
            .email input{
                width: 380px;
            }
        }
    }

    .footer{
        .bg-vid{
            max-width: 100vw;
        }

        .direct{
            top: -85px;
            left: 15px;
        }
    }

}

/* Max 992 ---- */

@media only screen and (min-width: 768px) and (max-width: 991.98px){
    header{
        .navbar{
            @include titlefont(20px);
            padding-top: 12px;
            padding-bottom: 12px;
            .logo{
                font-size: 20px;
            }
            .navbar-end{
                right: 10px;
            }
            nav{
                ul{                
                    li{
                        @include titlefont(20px);
                        margin: 5px;
                    }
                }
            }

        }

        #home{
            width: 100%;
            height: 900px;
            h1{
                font-size: 100px;
                padding-top: 225px;
                margin-bottom: 300px;
            }
            h2{
                font-size: 75px;
            }
        }
    }


    .skills{
        .logo-open{
            margin-right: 0px;
        }
        .front, .back, .personal{
            margin-left: 25px;
        }
        .logo-front{
            img{
                width: 75px;
                height: 75px;
            }
        }
        .logo-back{
            img{
                height: 75px;
            }
        }
    }

    .work{
        .work-container{
            max-width: 768px;
            width: 100%;
            margin: 0 auto;
        }
        .work-text{
            min-width: 768px;
            max-width: 768px;
            margin: 0 auto;
            padding: 0 15px;
        }
        .work-1, .work-2, .work-3{
            flex-wrap: wrap;
        }
        .img-1, .img-2, .img-3{
            margin: 0 auto;
            width: 700px;
            height: 477px;
        }
    }

    .aboutme{
        p{
            padding: 0 15px;
        }
    }

    .contact{
        .form{
            .email input{
                width: 240px;
            }
        }
    }

    .footer{
        .bg-vid{
            max-width: 100vw;
        }

        .direct{
            padding-top: 80px;
            top: -75px;
            left: 15px;
            .directcontact{
                h3{
                    @include titlefont(35px);
                }
                p{
                    @include maintext(20px);
                }
            }
        }
        .socials{
            p{
                width: 75px;
                height: 75px;
                img{
                    width: 55px;
                }
            }
        }


    }

}

/* Max 768 ---- */

@media only screen and (min-width: 480px) and (max-width: 767.98px){
    header{
        .navbar{
            @include titlefont(20px);
            padding-top: 12px;
            padding-bottom: 12px;
            .logo{
                font-size: 20px;
            }
            .navbar-end{
                right: 10px;
            }
            nav{
                ul{                
                    li{
                        @include titlefont(20px);
                        margin: 5px;
                    }
                }
            }

        }

        #home{
            width: 100%;
            height: 900px;
            h1{
                font-size: 65px;
                padding-top: 250px;
                margin-bottom: 375px;
            }
            h2{
                font-size: 45px;
            }
        }
    }


    .skills{
        .logo-open{
            margin-right: 0px;
        }
        .front, .back, .personal{
            margin-left: 15px;
        }
        .logo-front{
            p{
                font-size: 1rem;
            }
            img{
                width: 35px;
                height: 35px;
            }
        }
        .logo-back{
            p{
                font-size: 1rem;
            }
            img{
                width: 75px;
                height: 35px;
            }
        }
        .logo-personal{
            p{
                font-size: 1rem;
            }
        }
        .toggle-1, .toggle-2, .toggle-3{
            span{
                font-size: 25px;
            }
        }
    }

    .work{
        .work-container{
            max-width: 480px;
            width: 100%;
            margin: 0 auto;
        }
        .work-text{
            min-width: 480px;
            max-width: 480px;
            margin: 0 auto;
            padding: 0 15px;
        }
        .work-1, .work-2, .work-3{
            flex-wrap: wrap;
        }
        .img-1, .img-2, .img-3{
            margin: 0 auto;
            width: 450px;
            height: 477px;
            margin-bottom: -150px;
        }
    }

    .aboutme{
        p{
            padding: 0 15px;
        }
        footer p{
            font-size: 25px;
        }
    }

    .contact{
        .form{
            .email input{
                width: 240px;
            }
        }
    }

    .footer{
        .bg-vid{
            max-width: 100vw;
        }

        .direct{
            padding-top: 80px;
            top: -75px;
            left: 15px;
            .directcontact{
                h3{
                    @include titlefont(35px);
                }
                p{
                    @include maintext(20px);
                }
            }
        }
        .socials{
            p{
                width: 75px;
                height: 75px;
                img{
                    width: 55px;
                }
            }
        }


    }


}




