/* Reset ---------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fonts ------------- */

@font-face {
	font-family: 'Cyberfont';
	src: url('fonts/Cyberpunk.eot');
	src: local('☺'), url('fonts/Cyberpunk.woff') format('woff'), url('fonts/Cyberpunk.ttf') format('truetype'), url('fonts/Cyberpunk.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General use *-----------------------*/
html {
    scroll-behavior: smooth;
}

body{
    color: white;
    background-color: #0E0E0E;
}

a{
    text-decoration: none;
    color: white;
}

@mixin titlefont($size) {
    font-family: 'Aldrich', sans-serif;
    font-size: $size;
}

@mixin maintext {
    font-family: 'Electrolize', sans-serif;
}

/* Header ------------------------- */

header{

    .navbar{
        display: flex;
        @include titlefont(50px);
        overflow: hidden;
        position: fixed;
        padding: 0 15px;
        top: 0;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        background: rgb(45,29,81);
        background: linear-gradient(90deg, rgba(45,29,81,1) 0%, rgba(67,69,130,1) 12%, rgba(67,52,107,1) 100%);
        .logo{
            font-size: 50px;
        }
        .navbar-end{
            display: flex;
            align-items: center;
        }
        nav{
            ul{
                display: flex;
                li{
                    @include titlefont(30px);
                    display: flex;
                    margin: 15px;
                }            
            }
        }
        .language{
            position: relative;
            display: inline-block;
        }
        .btn-drop{
            @include titlefont(30px);
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: white;
        }
        .btn-drop:hover, .btn-drop:focus{
            background-color: darken($color: rgb(45,29,81), $amount: 0);
        }
        .btn-drop > span {
            font-family: 'ElegantIcons';
        }
        .dropdown-content{
            display: none;
            position: absolute;
            background-color: transparent;
            border: grey;
            min-width: 100px;
            overflow: auto;
            z-index: 1;
            a{
                display: block;
                padding: 15px;
            }
            a:hover{
                background-color: rgba(128, 128, 128, 0.096);
            }
        }
        .show{
            display: block;
        }

    }
    #home{
        width: 99vw;
        height: 1289px;
        background-image: url(medias/city-night.jpg);
        background-repeat: no-repeat;
        h1,h2{
            font-family: 'Cyberfont';
        }
        h1{
            font-size: 250px;
            padding-top: 200px;
            text-align: center;
            color: #E40EE4;
            margin-bottom: 350px;

        }
        h2{
            font-size: 100px;
            text-align: center;
            color: #FFEF00;
           
        }
        .mirror{
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            
        } 
        .mirror::after{
            margin-top: 1rem;
            content:attr(data-text);
            display:block;
            transform:rotateX(180deg);
            background-image: linear-gradient(180deg,rgba(255, 238, 0, 0.3) 10%,rgba(255, 238, 0, 0.3));
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}